* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background-image: linear-gradient(to left bottom, #fbcaef, #d2f1e4);

  font-size: 48px;
  font-family: "B612", sans-serif;
  font-weight: 400;
  color: #003049;
}

/*** ************************************************************ ***/
/***                      Flight Countdown                        ***/
/*** ************************************************************ ***/
.flight_count {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.info__placement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hidden {
  display: none !important;
}

.small__gap {
  gap: 10px;
}

/*** ************************************************************ ***/
/***                      Meeting Contdown                        ***/
/*** ************************************************************ ***/
.meeting_count {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  font-size: 20px;
}

.info__placement-meeting {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.emoji-meet {
  font-size: 42px;
}

/*** ************************************************************ ***/
/***                         MEDIA QUERIES                        ***/
/*** ************************************************************ ***/
@media (max-width: 1200px) {
  .flight_count {
    font-size: 36px;
  }

  .meeting_count {
    font-size: 18px;
  }

  .emoji-meet {
    font-size: 36px;
  }
}

@media (max-width: 900px) {
  .flight_count {
    flex-direction: column;
    gap: 52px;
  }

  .info__placement {
    flex-direction: column;
    gap: 0;
  }

  .countdown {
    font-size: 72px;
    font-weight: 400;
  }

  .seen_informtion {
    font-size: 28px;
  }

  .small__gap {
    gap: 10px;
  }

  .meeting_count {
    display: grid;
    grid-auto-rows: auto;
    justify-items: start;
    align-items: start;
    gap: 10px;
    row-gap: 26px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .emoji-meet {
    grid-row: span 2;
    grid-column: 1;
    align-self: center;
    justify-self: center;
  }

  .meeting_count:has(.emoji-meet:nth-last-child(3)) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .meeting_count:has(.emoji-meet:nth-last-child(3)) .emoji-meet {
    grid-row: auto;
  }

  .meeting_count:has(.emoji-meet:nth-last-child(2)) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .meeting_count:has(.emoji-meet:nth-last-child(2)) .emoji-meet {
    grid-row: auto;
  }

  .meeting_count:has(.emoji-meet:only-child) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .meeting_count:has(.emoji-meet:only-child) .emoji-meet {
    grid-row: auto;
  }

  /* Updated style for countdown when flight countdown is 0 */
  .meeting_count--less {
    margin-top: 30px;

    display: flex;
    font-size: 28px;
    gap: 20px;
  }
}

@media (max-width: 700px) {
  .flight_count {
    gap: 36px;
  }

  .countdown {
    font-size: 56px;
  }

  .seen_informtion {
    font-size: 20px;
  }
}
